/*Navigation*/
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*Home Section*/
#home{
    height: 370px;
    padding: 3px 68px;


}





#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}
/*services section*/
#sevices{
    flex-direction: column;
   

}

#sevices .box{
    padding: 14px;
    margin: 2px 0px;
    border-radius: 28px;
    background: white;
    margin-bottom: 20px;


}


/*Cleints section*/

#clients{
   flex-wrap: wrap; 


}

#clients img{
    
    
    
 
 }


/*contact Us section*/
#contact-box form{
    width: 80%;
}

/*Footer*/

/*Utility class*/
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px;
}